:root {
  --jp-nova-icon: url('./images/icon.png');
  --jp-nova-font-color: #3c4043;
  --jp-nova-border-color: #bdc1c6;
  --jp-nova-link-color: #3367d6;
  --jp-nova-green-color: #1e8e3e;
  --jp-nova-red-color: #d93025;
}

.jp-Scheduler-inner-frame {
  padding: 5px 15px 5px 15px;
}

.jp-Scheduler-header {
  border-bottom: 1px solid darkgray;
}

.jp-Scheduler-content {

}

.jp-Scheduler-form {
  padding-top: 15px;
}

.jp-Scheduler-form-input-section {
  display: flex;
  flex-direction: column;
}

.jp-Scheduler-form-input-label {

}

.jp-Scheduler-form-input {

}

.jp-SchedulerIcon {
  background-image: var(--jp-nova-icon);
  background-size: contain;
}

.jp-MainWidget {
  background: var(--jp-layout-color1);
  color: var(--jp-ui-font-color1);
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: var(--jp-ui-font-size1);
}

.jp-MainWidget-main {
  display: flex;
  flex-direction: column;
}

.jp-MainWidget-serviceStatuses {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
}

.jp-MainWidget-serviceStatusItem {
  align-items: center;
  color: var(--jp-nova-link-color, --jp-content-link-color);
  display: flex;
  flex-direction: row;
  letter-spacing: 0.09px;
  line-height: 20px;
}
.jp-MainWidget-serviceStatusItem a {
  text-decoration: underline;
}
.jp-MainWidget-serviceStatusItem:active,
.jp-MainWidget-serviceStatusItem:hover,
.jp-MainWidget-serviceStatusItem:visited {
  color: var(--jp-nova-link-color, --jp-content-link-color);
}
.jp-MainWidget-serviceStatusItem > * {
  padding-right: 4px;
}

.jp-MainWidget .smallIcon {
  font-size: 16px;
}

.jp-MainWidget .MuiCircularProgress-colorPrimary {
  color: var(--jp-nova-link-color);
}

.jp-MainWidget-greenCheck {
  color: var(--jp-nova-green-color);
  font-size: 16px;
}
.jp-MainWidget-redX {
  color: var(--jp-nova-red-color);
  font-size: 16px;
}

.jp-MainWidget-button {
  background-color: var(--jp-layout-color0, white);
  border: 1px solid var(--jp-border-color0, --jp-nova-border-color);
  cursor: pointer;
  font-weight: var(--jp-content-heading-font-weight, 500);
  padding: 4px 16px;
}
